<footer>
    <div align="center"><img src="http://inventario-me.serviciostecnologicos.online/Resources/images/itap/img/sirma-sep-prepaenlineasep.png" width="180px" alt="SEP"> </div>
    <br>
    <div align="center" class="pie">
        <p>
            <strong>©2019 - TECNOLÓGICO NACIONAL DE MÉXICO</strong>
            | Instituto Tecnológico de Agua Prieta
            | Política de privacidad y manejo de datos personales
        </p>
    </div>
    <br>
</footer>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/jquery-3.3.1.min.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/config.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/funciones.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Functions.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Inventary.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Reports.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Users.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Principal.js"></script>
<script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/app.js"></script>
</body>
</html>