                </main>
            </div>
            
        </div>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/jquery-3.3.1.min.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/jquery.dataTables.min.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/dataTables.material.min.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/config.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/funciones.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Functions.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Users.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Inventary.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Reports.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/Principal.js"></script>
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/jss/app.js"></script>
    </body>

</html>