<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://inventario-me.serviciostecnologicos.online/Resources/materialize/css/materialize.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://inventario-me.serviciostecnologicos.online/Resources/css/style.css">
    <script src="http://inventario-me.serviciostecnologicos.online/Resources/materialize/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body class="cuerpo_body">
    <header class="header">
        <div class="logos group">
            <div class="logo_sep_nombre_tec">
                <div class="logo_sep">
                    <a href="#">
                        <img width="200px" src="http://inventario-me.serviciostecnologicos.online/Resources/images/itap/img/sirma-sep-prepaenlineasep.png" />
                    </a>
                    <img src="http://inventario-me.serviciostecnologicos.online/Resources/images/itap/img/separador.png" />
                </div>
                <div class="nombre">
                    <label>INSTITUTO TECNOLÓGICO DE AGUA PRIETA</label>
                </div>
            </div>
            <div class="logo_dgest_tec"><a href="#"><img src="http://inventario-me.serviciostecnologicos.online/Resources/images/itap/img/logoitap.png" height="78" />
                </a>
            </div>
        </div>
    </header>