<center>
    <h2>Reportes</h2>
</center>
<div class="col s12">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content black-text">
                <center><i class="material-icons large">assignment</i></center>
                <center>Material Faltante</center>
            </div>
            <div class="card-action">
                <center><a id="btnMaterialF">Generar</a></center>
            </div>
        </div>
    </div>  
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content black-text">
                <center><i class="material-icons large">assessment</i></center>
                <center>Material en Almacen</center>
            </div>
            <div class="card-action">
                <center><a id="btnMaterialA">Generar</a></center>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
            <div class="card">
                <div class="card-content black-text">
                    <center><i class="material-icons large">view_column</i></center>
                    <center>Codigo de barras</center>
                </div>
                <div class="card-action">
                    <center><a id="btnCodeBar">Generar</a></center>
                </div>
            </div>
        </div>    
</div>
